.logo {
    height: 40px;
    width: 140px;
    position: relative;
}

.loginDiv {
    border: 1px solid rgba(0, 0, 0, 0.315);
    height: 450px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.phoneBox {
    height: 35px;
    width: 280px;
    margin: 20px;
    margin-top: 140px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.231);
    opacity: 0.8;
    padding-left: 10px;
    font-size: 14px;
}

.passwordBox {
    height: 35px;
    width: 280px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.231);
    opacity: 0.8;
    padding-left: 10px;
    font-size: 14px;
    position: absolute;
    left: 15%;
    top: 52%;

}

*{
    box-sizing: border-box;
}

.loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
}

.formPopup {
   /*  display: none; */
    position: fixed;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 5%);
    border: 1px solid #999999;
    width: 350px;
    height: 330px;
    z-index: 9;
    padding: 20px;
}

.formContainer {
    max-width: 400px;
    height: 400px;
    padding: 20px;
    background-color: #fff;
}

.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #07b8f3ee;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-top: 40px;
    opacity: 4;
    height: 35px;
    width: 280px;
}
.formContainer .closeBtn {
    padding: 12px 20px;
    border: none;
    background-color: #07b8f3ee;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-top: 5px;
    opacity: 4;
    height: 35px;
    width: 280px;
}

.forgotPwdBtn{
    border: none;
    background-color: white;
}


.formContainer .btn:hover,
.openButton:hover {
    opacity: 4;
}